version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_tsaas_localhost
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: tsaas_localhost_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
